@import "_colors";

.header-wrapper{
    background: $dark;
    color: $white;
    .logo-wrapper{
        h3{
            color: $reactBlue;
            margin-left: 1rem;
            font-size: 2rem;
            font-weight: 700;
        }
    }
}